In [1]:
import pandas as pd# for data manipulation and analysis
import numpy as np # for mathematical operations
# for visualizing the data
import seaborn as sns

In [2]:
# Reading the file
dt=pd.read_csv("insurance.csv")

In [3]:
dt.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [4]:
# Statstical Analysis
dt.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

In [5]:
# checking the datatypes
dt.dtypes

age           int64
sex          object
bmi         float64
children      int64
smoker       object
region       object
charges     float64
dtype: object

In [6]:
#  encode the categorical data to numerical data
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
dt['sex']=le.fit_transform(dt['sex'])
dt['smoker']=le.fit_transform(dt['smoker'])
dt['region']=le.fit_transform(dt['region'])

In [7]:
# checking the datatypes after encoding the data.
dt.dtypes

age           int64
sex           int32
bmi         float64
children      int64
smoker        int32
region        int32
charges     float64
dtype: object

In [8]:
# checking the null values
dt.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [9]:
# Seprating the datset with independent and dependent variables and assinging to the x and y variables
x=dt[['age','bmi','children','smoker','region']]
y=dt['charges']

In [10]:
# Spliting the dataset in the form train and test, for the purpose of training and testing of the model
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest= train_test_split(x,y,test_size=0.2,random_state=0)

In [11]:
# Fitting the Linear Regression model
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()
regressor.fit(xtrain,ytrain)

LinearRegression()

In [12]:
#finding the coefficient of all the independent variables.
coeff_df=pd.DataFrame(regressor.coef_,x.columns,columns=['Coefficient'])
coeff_df

           Coefficient
age         254.011792
bmi         328.325139
children    443.455151
smoker    23567.358622
region     -288.493287

In [13]:
# finding the intercept
regressor.intercept_

-11671.779559489472

In [14]:
# predicting the model.
y_pred=regressor.predict(xtest)

In [15]:
## finding the accuracy of the model.
regressor.score(x,y)

0.7505680573045788

In [16]:
# creating the list of all the independent variables.
feature_names=list(x.columns.values)

In [17]:
# checking the summary of the model.
from regressors import stats
stats.summary(regressor,x,y,feature_names)

Residuals:
        Min         1Q    Median         3Q         Max
-29875.7987 -1334.4347  993.8549  2769.8482  11243.8351


Coefficients:
                Estimate  Std. Error  t value   p value
_intercept -11671.779559  943.118142 -12.3757  0.000000
age           254.011792    8.366349  30.3611  0.000000
bmi           328.325139   13.540162  24.2482  0.000000
children      443.455151  136.363353   3.2520  0.001175
smoker      23567.358622  408.825387  57.6465  0.000000
region       -288.493287  150.781687  -1.9133  0.055921
---
R-squared:  0.75057,    Adjusted R-squared:  0.74963
F-statistic: 801.63 on 5 features